<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/home"  routerLinkActive="selected">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button  (click)="logout()">
      <!-- <ion-icon name="log-out-outline"></ion-icon> -->
      <ion-icon name="list-circle-outline"></ion-icon>
      <ion-label>Categories</ion-label>
      <!-- <ion-label>Logout</ion-label> -->
    </ion-tab-button>

    <ion-tab-button *ngIf="!isLogin; else account" routerLink="/login" routerLinkActive="selected" >
      <ion-icon name="log-in-outline"></ion-icon>
      <ion-label>Login</ion-label>
    </ion-tab-button>
    <ng-template #account>
      <ion-tab-button (click)="openSideMenu()">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Account</ion-label>
      </ion-tab-button>
    </ng-template>
    
  </ion-tab-bar>

</ion-tabs>
