
<ion-header class="ion-no-border">
	<ion-toolbar>
    <div class="back-circle"></div>
		<ion-title class="ion-text-center custom-font">Sign Up</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

<svg class="back-blob" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
  <path fill="#8295A3" d="M68.6,-33.5C81.6,-17.2,79.6,13.8,65.7,37.6C51.8,61.3,25.9,77.8,2.1,76.6C-21.7,75.4,-43.5,56.5,-54.2,34.6C-65,12.7,-64.8,-12.3,-53.9,-27.4C-43,-42.4,-21.5,-47.6,3.2,-49.4C27.9,-51.2,55.7,-49.7,68.6,-33.5Z" transform="translate(100 100)" />
</svg>

<div class="ion-padding">
  <div class="ion-padding" *ngIf="credetialErr">
    <div class="ion-text-start error-msg"  color="danger" >Sorry Your given cridentials is invalid</div>
  </div>

  <form class="ion-padding" [formGroup]="loginForm">
    <!-- 
    <div class="wrap-input">
    <input class="input" type="text" enterkeyhint="search" type="search" name="user-name" placeholder="Full Name">
    </div> -->

    <div class="wrap-input">
      <input formControlName="email" class="input" type="text" inputmode="email" name="user-email" autocomplete="off"  placeholder="Enter Email">
      <div class="ion-text-start error-msg"  color="danger" >{{initErrorFormMsg.email}}</div>
    </div>

    <div class="wrap-input">
      <input formControlName="password" class="input" type="password" name="password" placeholder="Password">
      <div class="ion-text-start error-msg"  color="danger" >{{initErrorFormMsg.password}}</div>
    </div>

    <div class="container-form-btn">
    <button (click)="submitLoginForm()" class="form-btn custom-font" [disabled]="loginForm.invalid">
    Submit
    </button>
    </div>

  </form>
</div>

</ion-content>


<ion-footer class="ion-no-border">
  <ion-toolbar>
		<p class="ion-text-center custom-font">Don't have an account? <a href="" routerLink="/registration">Sign Up</a></p>
  </ion-toolbar>
</ion-footer>