.carts {
  ion-img {
    height: 115px;
  }
  h2 {
    margin: 0;
    font-size: 18px;
  }
  p {
    margin: 0 !important;
    font-size: 13px;
  }

  .product-color {
    width: 18px;
    height: 15px;
    display: inline-block;
  }
}
