ion-toolbar {
  --background: transparent;

  ion-title {
    padding: 20px 0 46px 0;
    font-weight: 900;
  }

  p {
    padding: 40px 0 20px 0;
    font-weight: 700;
  }

  .back-circle {
    z-index: -1;
    width: 200px;
    height: 200px;
    background: #e5ecf1;
    position: absolute;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

ion-content {
  --background: rgba(237, 242, 245, 0.8);
}

.back-blob {
  z-index: -1;
  width: 600px;
  position: absolute;
  left: -50%;
  top: 0;
  // opacity: .2;
}

form {
  margin-top: 100px;
}

.wrap-input {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  margin-bottom: 26px;
  box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.12);
}

.input {
  display: block;
  width: 100%;
  background: transparent;
  font-family: Josefin Sans;
  font-size: 16px;
  line-height: 1.2;
  border: none;
  outline: none;
}

input.input {
  height: 46px;
  padding: 0 20px 0 23px;
}

.container-form-btn {
  display: flex;
  justify-content: center;
}

.form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 42px;
  background-color: #ffc409;
  border-radius: 20px;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 5px;
  transition: all 0.4s;
  box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.5);
  outline: none;
}

.form-btn:hover {
  background-color: #28333b;
  box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.8);
}
